footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  background-color: var(--header-bg);
  color: var(--text-color);
}
.container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightWrap {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 25%;
  align-items: center;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
}
