header {
  padding: 0.75rem;
  background-color: var(--header-bg);
  color: var(--text-color);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightWrap {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 25%;
  align-items: center;
}
